@{
    ViewBag.Title = "About us";
}
<h2>@ViewBag.Title.</h2>

<p>Online Cinema Ticket Booking System.</p>
<p>
    Cinema is an entertainment Centre for the public where films are shown to people in a
    theatre.

    We have 3 main Theatres in Durban, ML-SULTAN, STEVE BIKO, AND RITSON.

    We provide quality resolution for our viewers to experience the best of our interactive movies.

</p>
<p>
    <h3><i>Mission</i></h3>
    Our organization concentrate on evolving from day to day tasks of manual ticket
    booking and simplify then into effective and responsive system..

    <h3><i>Vision</i></h3>
    Reducing the level of depression through entertainment.
</p>
