@{
    ViewBag.Title = "Contact us";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    31 Ritson road<br />
    Durban, 4001<br />
    <abbr title="Phone">Phone:</abbr>
    0735599779
</address>

<address>
    <strong>Support: Mr Shaka M</strong>   <a href="Shakampechuar@gmail.com">Shakampechuar@gmail.com</a><br />
    <strong>Marketing: Miss Phahlane S</strong> <a href="mailto:Marketing@example.com">watchAMovieteam@gmail.com</a><br />
    <strong>Manager: Mr Moss RG</strong> <a href="malumrocks@gmail.com">malumrocks@gmail.com</a>
</address>